*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: #ffffff;
}

.nav-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.nav-container .menu a {
  position: relative;
  margin-right: 30px;
  font-family: roboto;
  font-weight: 300;
  text-decoration: none;
  color: rgb(113, 113, 113);
  transition: 0.2s;
}

.nav-container .menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: rgb(0, 98, 255);
  opacity: 0;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  transition: 0.2s;
}

.nav-container .menu input {
  border: none;
  color: rgb(113, 113, 113);
  background: white;
  padding: 15px 30px;
  border-radius: 30px;
  outline-color: rgb(0, 98, 255);
}

.nav-container .menu a:hover {
  color: rgb(0, 98, 255);
}

.nav-container .menu .active {
  color: rgb(0, 98, 255);
}

.nav-container .menu .active::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgb(0, 98, 255);
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  transition: 0.2s;
  opacity: 1;
}

.nav-container .menu a:hover:before{
  width: 5px;
  height: 5px;
  opacity: 1;
  
}

/* banner end */

/* HeaderBanner */

.header-banner{
  max-width: 1200px;
  margin: auto;
}

.header-banner .banner{
  background: #100046;
  width: 100%;
  color: white;
  font-family: roboto;
  font-weight: 300;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-banner .banner .text-left{
  margin-left: 100px;
}

.header-banner .banner .text-left h1{
  font-size: 3.7rem;
  margin-bottom: 70px;
  line-height: 80px;
}

.header-banner .banner .text-left p{
  line-height: 30px;
  color: rgb(216, 216, 216);
}

.header-banner .banner .text-left h1 span{
  color: rgb(0, 119, 255);
}

.header-banner .banner .img-right img{
  padding: 100px 0;
}

.header-banner .banner .text-left .button .btn1{
  margin-top: 70px;
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.header-banner .banner .text-left .button .btn1:hover{
  background: rgb(252, 252, 252);
  color: rgb(0, 119, 255);
}

.header-banner .banner .text-left .button .btn2{
  margin-top: 70px;
  border: none;
  outline: none;
  background: transparent;
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(0, 119, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.product-cetagory-card{
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.product-cetagory-card .card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-cetagory-card .card-container .card-list{
  width: 230px;
  height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 100%;
  margin: 0 10px;
  box-shadow: 0px 0px 5px rgb(202, 202, 202);
}

.product-cetagory-card .card-container .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-cetagory-card .card-container .text-box{
  background: rgb(255, 255, 255);
  padding: 20px 0;
  width: 200px;
  border-radius: 30px;
  font-family: roboto;
  box-shadow: 2px 6px 10px #e1e1e1;
  margin-top: -20px;
  cursor: pointer;
  transition: 0.5s;
}

.product-cetagory-card .card-container .text-box:hover{
  background: rgb(9, 0, 62);
  color: white;
}

.special-product-card{
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-product-card .left{
  width: 50%;
  background-image: url(https://xtratheme.com/elementor/gadgets/wp-content/uploads/sites/108/2023/04/bg3-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: 10px;
  border-radius: 20px;
  font-family: roboto;
  color: white;
  padding: 50px;
}

.special-product-card .right{
  width: 50%;
  background-image: url(https://xtratheme.com/elementor/gadgets/wp-content/uploads/sites/108/2023/04/bg3-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: 10px;
  border-radius: 20px;
  font-family: roboto;
  color: white;
  padding: 50px;
}

.special-product-card .left p{
  margin: 35px 0;
  line-height: 30px;
  max-width: 250px;
}

.special-product-card button{
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.special-product-card button:hover{
  color: rgb(0, 119, 255);
  background: rgb(255, 255, 255);
}

.special-product-card .right p{
  margin: 35px 0;
  line-height: 30px;
  max-width: 250px;
}

.products-card{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: roboto;
}

.products-card .card-items {
  width: 22%;
  margin: 15px;
  border-radius: 30px;
  border: 1px solid #dfdfdf;
}

.products-card .card-items a{
  text-decoration: none;
}

.products-card .card-items .bg-img{
  background-image: url(https://xtratheme.com/elementor/gadgets/wp-content/uploads/sites/108/2021/10/gold-watch-1-600x600.png);
  height: 250px;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.products-card .card-items .bg-img p{
  border-radius: 50%;
  background: rgb(0, 119, 255);
  width: 50px;
  text-align: center;
  padding: 15px 0;
  color: #ffffff;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.products-card .card-items .bg-img button{
  margin-top: 50px;
  transform: scaleX(50%);
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  padding: 15px 35px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  visibility: hidden;
  width: 70%;
  opacity: 0;
}

.products-card .card-items .bg-img button:hover{
  color: rgb(255, 255, 255);
  background: rgb(11, 0, 75);
}

.products-card .card-items .bg-img:hover button{
  visibility: visible;
  transform: scaleX(100%);
  opacity: 1;
}

.products-card .card-items .card-desc{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.products-card .card-items .card-desc .title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4b4b4b;
}

.products-card .card-items .card-desc .star{
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 166, 0);
}

.products-card .card-items .card-desc .prize{
  font-size: 20px;
  color: #545454;
}

.products-card .see-all-product-btn{
  margin-top: 70px;
  margin-bottom: 70px;
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  padding: 25px 40px;
  border-radius: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.products-card .see-all-product-btn:hover{
  color: rgb(0, 119, 255);
  background: rgb(8, 0, 70);
}

.discount-offer-banner{
  background: transparent;
}

.discount-offer-banner .banner .text-left h1{
  color: #100046;
}

.discount-offer-banner .banner .text-left .deal-text{
  color: #ffffff;
  padding: 10px;
  max-width: 180px;
  font-weight: bold;
  text-align: center;
  background: #100046;
}

.discount-offer-banner .banner .text-left p{
  color: #100046;
}

.news{
  max-width: 1200px;
  margin: 100px auto;
  font-family: roboto;
}

.news .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .title h1{
  font-size: 45px;
  margin-bottom: 10px;
}

.news .title p{
  color: #545454;
}
.news .title h1 span{
  color: rgb(0, 119, 255);
}

.news .title .all-news-btn{
  margin-top: 70px;
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  padding: 20px 40px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.news .title .all-news-btn:hover{
  color: rgb(0, 119, 255);
  background: #100046;
}

.news .news-card-container{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.news .news-card-container .news-card{
  width: 31%;
  padding: 5px;
  margin: 9px;
}

.news .news-card-container .news-card .card-img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
  background: url(https://xtratheme.com/elementor/gadgets/wp-content/uploads/sites/108/2023/05/blog7-1-600x400.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news .news-card-container .news-card .contents h2{
  margin: 20px 0 5px 0;
  color: #3d3d3d;
}

.news .news-card-container .news-card .contents small{
  color: rgb(0, 119, 255);
}

.footer{
  margin: 180px auto 0 auto;
  max-width: 1200px;
  font-family: roboto;
  background: #eff5fc;
  border-radius: 50px;
  position: relative;
}

.footer .footer-contents{
  padding: 120px 70px 50px 70px;
  display: flex;
  justify-content: space-between;
}

.footer .get-update-container{
  background-color: #010027;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border-radius: 30px;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%);
}

.footer .get-update-container .title-left {
  width: 50%;
}

.footer .get-update-container .title-left h1{
  color: #ffffff;
  font-size: 45px;
}

.footer .get-update-container .title-left h1 span{
  color: rgb(0, 119, 255);
}

.footer .get-update-container .title-left p{
  color: #dfdfdf;
}

.footer .get-update-container .button-subscribe{
  width: 50%;
}
.footer .get-update-container .button-subscribe input{
  width: 70%;
  padding: 20px 30px 20px 30px;
  outline: none;
  background-color: #ffffff13;
  border: none;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
  font-family: roboto;
}

.footer .get-update-container .button-subscribe input::placeholder{
  color: #b3b3b3;
}

.footer .get-update-container .button-subscribe button{
  padding: 20px 25px;
  margin-left: -50px;
  border-radius: 30px;
  background: rgb(0, 119, 255);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
  font-family: roboto;
}

.footer .get-update-container .button-subscribe button:hover{
  background: #ffffff;
  color: rgb(0, 119, 255);
  color: gradient(#010027 to #3d3d3d);
}

.footer .footer-contents .footer-items p{
  margin-top: 15px;
  color: #3d3d3d;
}

.footer .footer-contents .footer-items h2{
  margin-bottom: 20px;
  font-size: 22px;
  color: #3d3d3d;
}

.footer .footer-contents .footer-items li{
  margin-bottom: 10px;
  cursor: pointer;
  color: #838383;
}

.footer .footer-contents .footer-items li:hover{
  color: rgb(0, 119, 255);
}

/* Product Details Page */

.product-details{
  max-width: 1200px;
  margin: 100px auto;
  font-family: roboto;
}

.product-details .main-details{
  display: flex;
  /* flex-wrap: wrap; */
}

.product-details .main-details .product-img{
  border: 1px solid #b3b3b3;
  border-radius: 30px;
  padding: 10px;
  margin-right: 30px;
}

.product-img{
  position: relative;
}

.product-img p{
  color: #ffffff;
  position: absolute;
  top: 2%;
  left: 5%;
  border-radius: 50%;
  background: rgb(0, 119, 255);
  width: 50px;
  text-align: center;
  padding: 15px 0;
  margin: 10px;
}

.product-details .main-details h1{
  color: rgb(0, 119, 255);
  font-size: 40px;
}

.product-details .main-details .ratings{
  color: rgb(255, 157, 0);
  font-size: 50px;
}

.product-details .main-details h2{
  color: rgb(48, 48, 48);
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.details-contents p{
  color: rgb(144, 144, 144);
  font-size: 16px;
  text-align: justify;
  font-weight: 300;
  margin-bottom: 20px;
}

.product-details .main-details .qtybtn{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-details .main-details .qtybtn button:first-child{
  color: #010027;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  background: transparent;
  transition: 0.2s;
  width: 49px;
}

.product-details .main-details .qtybtn button:last-child{
  color: #010027;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  transition: 0.2s;
  width: 45px;
}

.product-details .main-details .qtybtn input{
  width: 80px;
  padding: 15px;
  font-weight: 300;
  margin: 10px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  outline: none;
}

.product-details .main-details .qtybtn button:hover{
  background: rgb(0, 119, 255);
  color: #ffffff;
}

.product-details .main-details button{
  border: none;
  outline: none;
  background: rgb(0, 119, 255);
  padding: 15px 35px;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  width: 200px;
}

.product-details .main-details button:hover{
  background: #100046;
  color: rgb(0, 119, 255);
}


.product-details .main-details p:last-child {
  margin-top: 30px;
}

.product-details .main-details p span{
  font-weight: bold;
}


.similer-products{
  padding: 20px;
  border-radius: 30px;
  margin-top: 100px;
  border: 1px solid #e0e0e0;
}

.similer-products hr{
  border: 0.5px solid #e9e9e9;
  margin-top: 10px;
}

.similer-products .products-card{
  justify-content: start;
}

.shop{
  max-width: 1200px;
  margin: auto;
}

.shop select{
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 15px 20px;
  border: 1px solid #dfdfdf;
  border-radius: 30px;
  outline: none;
}

.product-category{
  display: flex;
  max-width: 1200px;
  margin: auto;
  font-family: roboto;
}

.product-category .buttons-of-category{
  display: flex;
  flex-direction: column;
}

.product-category .buttons-of-category button{
  width: 115px;
  padding: 10px;
  border: none;
  margin: 5px 0;
  border-radius: 30px;
  cursor: pointer;
}

.product-category .buttons-of-category button:first-child{
  margin-top: 30px;
}
.product-category .buttons-of-category .buttonActive{
  background: #100046;
  color: wheat;
}

.product-category .buttons-of-category button:hover{
  background: #100046;
  color: wheat;
}

.product-category .products-card{
  margin: auto;
  width: 1100px;
  justify-content: start;
}

.product-category .buttons-of-category p{
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

.product-category .buttons-of-category p span{
  cursor: pointer;
  background: #100046;
  padding: 5px 8px;
  border-radius: 30px;
  color: wheat;
}